
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #845EF7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 40px;
}


.left-section {
    width: 45%;
    color: white;
    padding-top: 20px;
}

.left-section h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.3;
}


.right-section {
    width: 55%;
    display: flex;
    justify-content: center;
}


.form-box {
    width: 90%;
    max-width: 450px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}


label {
    font-size: 13.5px;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 9px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* TWO COL FIELDS */
.two-col {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}

/* GENDER BOX */
.gender-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

/* Gender Radio Buttons Horizontal */
.gender-box {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;               
    margin-top: 5px;
    align-items: center;
}

/* Radio + text align properly */
.gender-box label {
    display: flex;
    align-items: center;
    gap: 6px;               
    font-size: 14px;
    cursor: pointer;
}


/* -- TERMS CHECKBOX -- */
.terms {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
}

.terms input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
/* Department  */
.checkbox-row {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;              
    margin-top: 5px;
    align-items: center;
}


.checkbox-row label {
    display: flex;
    align-items: center;
    gap: 6px;              
    font-size: 14px;
    cursor: pointer;
}

/*SPACING*/
.department-block {
    margin-top: 18px;
    margin-bottom: 10px;
}


.file-block {
    margin-top: 18px;
    margin-bottom: 10px;
}


.terms {
    margin-top: 18px !important;
    margin-bottom: 10px;
}

/* -- SUBMIT BUTTON -- */
.submit-btn {
    width: 100%;
    padding: 12px;
    background: #7048E8;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #5F3DC4;
}

/* --LAPTOP VIEW (Option 1) -- */
@media (min-width: 900px) {

    body {
        padding: 40px;
    }

    .main-container {
        padding: 20px 40px;
        gap: 60px;                      
        align-items: center;
    }

    .left-section {
        width: 45%;
        padding-left: 20px;
    }

    .left-section h1 {
        font-size: 80px;
        line-height: 1.3;
    }

    .right-section {
        width: 55%;
    }

    .form-box {
        width: 85%;
        max-width: 450px;
        padding: 25px;
    }
}

/* -- TABLET VIEW -- */
@media (max-width: 900px) {
    .main-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .left-section h1 {
        font-size: 32px;
    }

    .form-box {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
}

/* -- MOBILE VIEW -- */
@media (max-width: 600px) {

    .two-col {
        flex-direction: column;
        gap: 5px;
    }

    .form-box {
        padding: 18px;
        max-width: 350px;
    }

    input, select {
        padding: 8px;
    }

    .submit-btn {
        padding: 10px;
        font-size: 15px;
    }
}

